/* css resets starts */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* css resets ends */

/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");
/* Font Imports Ends*/

/* Roots Css Starts */

:root {
  --dark-blue: hsl(218, 23%, 16%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --grayish-blue: hsl(217, 19%, 38%);

  --neon-green: hsl(150, 100%, 66%);
  --light-cyan: hsl(193, 38%, 86%);
}

/* Roots Css Ends */

/* main css starts */

main {
  font-family: "Manrope", sans-serif;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;

  background: var(--dark-blue);
}

.advice-div {
  display: grid;
  place-items: center;
  width: 33.75rem;
  height: 20.75rem;
  padding: 2.9375rem 3rem 4.5rem 3rem;
  position: relative;

  border-radius: 0.9375rem;
  background: var(--dark-grayish-blue, #323a49);
}
.main-advice {
  display: flex;
  flex-direction: column;
}

.main-advice .heading {
  color: var(--neon-green, #52ffa8);
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.21875rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5rem;
}
.main-advice > p {
  color: var(--light-cyan, #cee3e9);
  text-align: center;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.0175rem;
  margin-bottom: 3rem;
}
.line-div {
  display: flex;
  justify-content: center;
}
.line-div-mobile {
  display: none;
}
.advice-btn {
  position: absolute;
  bottom: -2rem;
  width: 4rem;
  height: 4rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  background: var(--neon-green);
}
.advice-btn > svg,
.advice-btn > svg > path {
  pointer-events: none;
}
/* main css ends */

@media screen and (width <= 666px) {
  .advice-div {
    width: 80vw;
    height: 40vh;
  }
  .line-div {
    display: none;
  }
  .line-div-mobile {
    display: flex;
    justify-content: center;
  }
  .main-advice > h1{
    font-weight: 600;
  }
  .main-advice > p{
    font-weight: 400;
    line-height: normal;
  }
}

@media screen and (width <= 512px) {
    body{
        background: var(--dark-blue);
    }
    main{
        width: 100%;
    }
  .advice-div {
    width: 21.375rem;
    height: 19.6875rem;
    padding: 2.4375rem 0.625rem;
  }
  .main-advice > p{
text-align: center;
font-size: 1.4rem;
font-weight: 500;
letter-spacing: -0.015rem;
margin-bottom: 1.63rem;
  }
  .heading{
    font-size: 0.75rem;
    font-weight: 100;
  }
}

@media screen and (width <= 362px){
    .advice-div{
        width: 100vw;
        padding: 2.4375rem 1rem;
    }
}
